Django
djangorestframework
django-filter
django-cors-headers
django-crispy-forms
crispy-bootstrap5
django-allauth
django-guardian
django-environ
psycopg2-binary
celery
django-celery-beat
django-celery-results
redis
Pillow
django-extensions
whitenoise
gunicorn
drf-spectacular
sentry-sdk
reportlab
openpyxl
django-debug-toolbar
